{% extends "base.html" %}
{% block content %}
    <div class="activities_pg">
        <div>
            <ul>
                <li>Volleyball team’s member in my class.</li>
                <li>Football team’s member in the school.</li>
                <li>A guitar player in the school.</li>
                <li>A laser cutter machine’s trainer in the school's fab lab.</li>
                <li>Certificate on a nano degree programming course – Udacity</li>
                <li>Certificate on a nano degree AI course – Udemy.</li>
            </ul>
        </div>
    </div>
{% endblock %}