{% extends "base.html" %}
{% block content %}
    <div class="experience_pg">
        <div class="tedx">
            <span style="font-size: 25px; color: black; font-weight: bold; margin-left: 5px">TEDx STEM School KFS</span>
            <p style="float:right; font-weight: bold; color: #02375a; font-size: 17px;">JUNE 2020 – PRESENT</p>
            <div>
                <ul>
                    <li>Got the license to organize a TEDx event.</li>
                    <li>Work as the leader for organizing a TEDx event.</li>
                </ul>
            </div>
        </div>
        <div class="tedx">
            <span style="font-size: 25px; color: black; font-weight: bold; margin-left: 5px">Technology Club at school</span>
            <p style="float:right; font-weight: bold; color: #02375a; font-size: 17px;">FEBRUARY 2020 – PRESENT</p>
            <div>
                <ul>
                    <li>Founded and preside the technology club in the school.</li>
                    <li>Work as a Python tutor to the students in my school.</li>
                </ul>
            </div>
        </div>
        <div class="tedx">
            <span style="font-size: 25px; color: black; font-weight: bold; margin-left: 5px">Hack Club Egypt</span>
            <p style="float:right; font-weight: bold; color: #02375a; font-size: 17px;">DECEMBER 2019 – PRESENT</p>
            <div>
                <ul>
                    <li>Worked as a python tutor for high school students.</li>
                </ul>
            </div>
        </div>
        <div class="tedx">
            <span style="font-size: 25px; color: black; font-weight: bold; margin-left: 5px">Enactus KSU</span>
            <p style="float:right; font-weight: bold; color: #02375a; font-size: 17px;">NOVEMBER 2019 – PRESENT</p>
            <div>
                <ul>
                    <li>Creating a website for the team.</li>
                    <li>Participate in making the projects for the final competition.</li>
                </ul>
            </div>
        </div>
        <div class="tedx">
            <span style="font-size: 25px; color: black; font-weight: bold; margin-left: 5px">Kafr El-Sheikh University's Summer Program</span>
            <p style="float:right; font-weight: bold; color: #02375a; font-size: 17px;">SEPTEMBER 2019 – OCTOBER 2019</p>
            <div>
                <ul>
                    <li>Learned the mechanism of PCR and how it is encoded.</li>
                    <li>Worked in a workshop to try to improve the mechanism of the PCR.</li>
                </ul>
            </div>
        </div>
        <div class="tedx">
            <span style="font-size: 25px; color: black; font-weight: bold; margin-left: 5px">Ministry of Communication and Information Technology in Egypt's Programming Internship</span>
            <p style="float:right; font-weight: bold; color: #02375a; font-size: 17px;">MAY 2019 – SEPTEMBER 2019</p>
            <div>
                <ul>
                    <li>Learned some advanced programming languages.</li>
                    <li>Did many projects on what I had learned.</li>
                </ul>
            </div>
        </div>
        <div class="tedx">
            <span style="font-size: 25px; color: black; font-weight: bold; margin-left: 5px">School Capstone Assistance</span>
            <p style="float:right; font-weight: bold; color: #02375a; font-size: 17px;">SEPTEMBER 2019 – MARCH 2020</p>
            <div>
                <ul>
                    <li>mentored grade 10’s students in their capstone projects- specifically in programming.</li>
                </ul>
            </div>
        </div>
        <img src="static/enacus_kfs.jpg" class="img_kfs">
    </div>
{% endblock %}